<%
profile ||= nil
%>

<% if profile %>
  <h2>Featured Member</h2>
  <%= icon profile, :small, :class => 'left' %>
  <div><%= link_to h(profile.f), profile %></div>
  <%= truncate_html sanitize(textilize(profile.about_me)), 360, link_to('more', profile_path(profile)) %>
<% end %>