<%-
#locals
profile ||= @profile
size ||= 10
blogs ||= profile.blogs.find :all, :limit => size


total = profile.blogs.count
-%>

<% unless blogs.empty? %>
<div class="activity_box">
	<h2>Most Recent Blog Posts 
	  <span>(latest <%= blogs.size %> of <%= total > size ? link_to( total, profile_blogs_path(profile)) : total%>)</span>
	</h2>
	<div class="inside_box">
	<ul>       
	<%= blogs_li blogs %>
	</ul>
		<div class="clear"></div>    
	</div>
</div>
<% end %>