<%= image_tag("footer.png", :class=>'png clear') %>

<div class="text_c" style="padding-top: 20px;">
  LovdbyLess is a <a href="http://lovdbyless.com/">Free Open Source Social Network Platform</a> by <a href="http://www.LessEverything.com" target="blank">Less Everything</a><br>

<a href="http://lovdbyless.com/download.html">Download Free</a> | <a href="http://try.lovdbyless.com">Demo Lovd</a> | <a href="http://lovdbyless.com/notes.html">Technical Notes</a> | <a href="http://lovdbyless.com/contact">Contact Us</a> | <a href="http://b.lesseverything.com/lovd-by-less" target="_blank">Blog</a>

</div>

<div id="message" class="fixed"></div>

